<header class="fixed z-40 w-full">
    <!-- Top Nav -->
    <div class="sticky bg-[#121920] flex items-center justify-center p-1 flex-grow py-2">
            <!-- Left heder Amazon image -->
            <div class = 'mt-2 flex items-center flex-grow sm:flex-grow-0 cursor-pointer' routerLink = '/'> 
                <img src="https://links.papareact.com/f90" alt="" width = 130 height = 40 class="object-cover mr-8 cursor-pointer" >
            </div>
            <!--  Search Bar  -->
            <div class = 'hidden sm:flex  hover:bg-yellow-500 bg-yellow-400 items-center h-10 rounded-md flex-grow cursor-pointer'>
                <input type="text" class = 'outline-none p-2 h-full w-6 flex-grow flex-shrink rounded-l-md'/>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 p-2 rounded-r-lg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
            </div>
            <div class="text-white flex flex-col items-center mx-3 hover:underline cursor-pointer" (click)='addProduct()'>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <p>Add Product</p>
            </div>
            <!-- Right -->
            <div class = 'flex text-white text-sm mx-4 space-x-7 items-center whitespace-nowrap'>
                <div>
                    <p>Hello, Yonatan Tesfaye</p>
                    <p class = ''>Account & list</p>
                </div>
                <div class = 'link'>
                    <p>Returns</p>
                    <p class = 'font-semibold text-lg'>& Orders</p>
                </div>
                <div class = 'link flex items-center '>
                    <div class = 'relative hover:animate-bounce' (click) = 'cart()'>
                        <svg xmlns="http://www.w3.org/2000/svg" class=" w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                          </svg>
                    <!-- <ShoppingCartIcon class = 'w-12 ' /> -->
                    <p class = ' absolute top-0 left-7 h-5 w-5 bg-yellow-400 text-black font-bold  rounded-full flex items-center justify-center'>{{Cart.length}}</p>
                    </div>
                    <p class = 'hidden sm:inline-flex mt-2 font-extrabold'>Cart</p>
                </div>
    </div>
    <!-- Buttom Nav -->
    
</div>
    <div class = 'flex bg-[#222E3E] text-white text-sm space-x-3 p-2 pl-6 whitespace-nowrap items-center'>
        <p class = 'flex items-center'>
            <!-- <MenuIcon class = 'h-6 mr-1'/> -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-1 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <span class="hover:underline hover:cursor-pointer" routerLink="/">
                Home
            </span>
        </p>
        <p class = 'hover:underline hover:cursor-pointer'routerLink="/customer">Customers</p>
        <p class = 'link '>Today's Deals</p>
        <p class = 'link hidden lg:inline-flex'>Electronics</p>
        <p class = 'link hidden lg:inline-flex'>Food & Grocery</p>
        <p class = 'link hidden lg:inline-flex'>prime</p>
        <p class = 'link hidden lg:inline-flex'>Buy Again</p>
        <p class = 'link hidden lg:inline-flex'>Shopper Toolkit</p>
        <p class = 'link hidden lg:inline-flex'>Health & Personal Care</p>
    </div>
</header>
