<footer>
    <div class = 'bg-[#37465B] w-full h-9 text-white flex items-center justify-center text-sm p-5'>
        <p>Back to top</p>
    </div>
    <div class = 'bg-[#222E3E] text-white grid grid-cols-1 gap-y-10 px-32 py-14 cursor-pointer md:grid-cols-2 lg:grid-cols-4'>
        <div class = 'space-y-4 text-sm '>
            <p class='text-lg font-bold'>Get to Know Us</p>
            <p class ='link'>Careers</p>
            <p class ='link'>Blog</p>
            <p class ='link'>About Amazon</p>
            <p class ='link'>Investor Relations</p>
            <p class ='link'>Amazon Devices</p>
            <p class ='link'>Amazon Science</p>
        </div>
        <div class = 'space-y-4 text-sm'>
            <p class='text-lg font-bold'>Make Money with Us</p>
            <p class ='link'>Sell products on Amazon</p>
            <p class ='link'>Sell on Amazon Business</p>
            <p class ='link'>Sell apps on Amazon</p>
            <p class ='link'>Become an Affiliate</p>
            <p class ='link'>Advertise Your Products</p>
        </div>
        <div class = 'space-y-4 text-sm'>
            <p class='text-lg font-bold'>Amazon Payment Products</p>
            <p class ='link'>Amazon Business Card</p>
            <p class ='link'>Shop with Points</p>
            <p class ='link'>Reload Your Balance</p>
            <p class ='link'>Amazon Currency Converter</p>
        </div>
        <div class = 'space-y-4 text-sm'>
            <p class='text-lg font-bold'>Let Us Help You</p>
            <p class ='link'>Amazon and COVID-19</p>
            <p class ='link'>Your Account</p>
            <p class ='link'>Your Orders</p>
            <p class ='link'>Shipping Rates & Policies</p>
            <p class ='link'>Returns & Replacements</p>
            <p class ='link'>Help</p>
        </div>
    </div>
    <div class = 'bg-[#222E3E] text-white border-t border-amazon_blue px-32 py-10 grid grid-cols-2 items-center'>
    
        <p class = 'text-lg font-bold flex flex-grow'> &copy; Yonatan Tesfaye</p>
        <div class = 'flex space-x-4 flex-grow'>

            <!-- <a  href="https://www.facebook.com/yoni.tesfu.7">
                <FontAwesomeIcon icon={faFacebook} class= 'w-8' />
            </a>
            <a href="https://t.me/Yonatan_Tesfaye">
                <FontAwesomeIcon icon={faTelegram}  class = 'w-8'/>
            </a>
            <a href="https://github.com/yoni1342">
                <FontAwesomeIcon icon={faGithub}  class = 'w-8'/>
            </a>
            <a href="https://www.linkedin.com/in/yonatan-tesfaye-8594211a8/">
                <FontAwesomeIcon icon={faLinkedin}  class = 'w-8'/>            
            </a> -->
    </div>
    </div>
</footer>
