<div class="h-screen mt-56">
    <p class="text-3xl font-semibold">Add New Customer</p>
        <form action="" #f=ngForm (ngSubmit)="add()">
            <div>
                <p>Name</p>
                <input type="text" [(ngModel)]="newCustomer.name" placeholder="Name" class="border text-gray-500" name="name" #name="ngModel" required minlength="4" appForbiddenName='Yon'>
    
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div>
                <p>Age</p>
                <input [(ngModel)]="newCustomer.age" placeholder="Age" class="border text-gray-500" name='price' type="text">
            </div>
            <div>
                <p>location</p>
                <input [(ngModel)]="newCustomer.location" placeholder="location" class="border text-gray-500" name='Description'/>
            </div>
            <div>
                <p>Duration</p>
                <input [(ngModel)]="newCustomer.duration" placeholder="duration" class="border text-gray-500" name='Category'/>
            </div>
            <div>
                <p>Image URL</p>
                <input type="text" [(ngModel)]="newCustomer.imageUrl" name = 'Image'>
            </div>
            <button class="bg-blue-700 w-20 h-10 rounded-full text-white hover:shadow-lg active:shadow-md active:scale-95 transition transform duration-100 mt-14" type="submit" [disabled]="!f.valid" >Submit</button>
        </form> 
    </div>
