<div class="all">
    <div class="product" *ngFor='let product of productList' >
        <img src = '{{product.imageUrl}}' id = 'nike-img'/>
        <div class="text">
            <h1>{{product.name | lowercase}}</h1>
            <input [(ngModel)]="product.name" placeholder="name">
            <p>{{product.description}}</p>
            <p class="card-text" *ngIf="product.price < 10">$ {{product.price}} (*On Discount)</p>
            <button class="btn btn-outline-primary" for="btnradio2" (click)='onViewDetail(product.id)'>View Detail</button>
        </div>    
    </div>
    
</div>