<div class = 'bg-white relative flex flex-col m-3 z-30 p-10 h-100 group'>
    <p class = 'absolute top-2 right-2 text-sm text-gray-400 font-extralight'>{{category}}</p>
    <p *ngIf = "!isCart; else cart" class="absolute top-0 text-2xl hidden group-hover:inline-block cursor-pointer hover:text-red-500" (click)='deleteProduct(id)'>X</p>
    <ng-template #cart>
        <p class="absolute top-0 text-2xl hidden group-hover:inline-block cursor-pointer hover:text-red-500" (click)='deleteProductCart(id)'>X</p>
    </ng-template>
    <img src="{{image}}" alt="" width="200" height="200">
    <h4 class ='my-3 '>{{title}}</h4>

    <p class = 'text-xs my-2 line-clamp-2'>{{description}}</p>
    <div class = 'mb-5'>
        {{price}}
    </div>
    <div class="flex">
        <button class = 'mt-auto  p-2 text-sm md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500
        active:outline-none w-40' (click)='editProduct(id)'>View Detail</button>
        
        <button *ngIf="!isCart" class = 'mt-auto  p-2 text-sm md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500
        active:outline-none w-40 flex items-center h-10' (click)='addToCart(id)'>
        <svg xmlns="http://www.w3.org/2000/svg" class=" w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          Add To Cart
    </button>
    </div>
</div>
