<div class="grid grid-cols-4  p-20">
    <div class="shadow-md w-80 bg-[#323751] text-white flex items-center justify-center flex-col space-y-10 rounded-md p-8 m-2" *ngFor="let customer of customerList" >
        <img [src]="customer.imageUrl" alt="" class="rounded-full w-40 h-40 object-cover" >
        <div>
            <div *ngIf="customer.duration>2;else white">
                <h1 class="text-xl text-orange-500">Name: {{customer.name}}</h1>
            </div>
            <ng-template #white>
                <h1 class="text-xl">Name: {{customer.name}}</h1>
            </ng-template>  
            <p>Age: {{customer.age}}</p>
            <p>Location: {{customer.location}}</p>
        </div>
    
    </div>
</div>
